.center {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /******
    Form
   ******/
  
  #register {
    background: #fff;
    position: relative;
    width: 410px;
    padding: 25px 15px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    transition: transform .1s ease-in-out;
  }
  
  #register.close {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: .8s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
  }
  
  .next {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 40px;
    color: #25a3ff;
    float: right;
    cursor: pointer;
  }
  .next:hover {color: #333}
  .wrong .next {color: #ff2d26}
  .close .next {color: #fff}
  
  #inputContainer {
    position: relative;
    opacity: 0;
    width: 350px;
    margin-top: 25px;
    transition: opacity .3s ease-in-out;
  }
  
  #inputContainer input {
    width: 100%;
    padding: 0 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow:none;
  }
  
  #inputLabel {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
    transition: .2s ease-in-out;
  }
  
  #inputContainer input:valid + #inputLabel {
    top: -15px;
    font-size: 11px;
    font-weight: normal;
    color: #9e9e9e;
  }
  
  #inputProgress {
    position: absolute;
    border-bottom: 2px solid #25a3ff;
    padding: 3px 0;
    width: 0;
    transition: width .6s ease-in-out;
  }
  
  .wrong #inputProgress {
    border-color: #ff2d26;
  }
  .customLabel{
    font-family: 'Poppins';
    font-size:'20px';
    font-weight: 500;
  }
  .custominputField{
   
   
    padding:10px;
   border-bottom: solid rgb(155, 208, 233) 3px;
   border-top:none;
   border-left:none;
   border-right: none;
   font-family: 'Poppins';
   font-size:14px;
   width:90%;
  
   outline: none;
  }
  .arrowButton{
    border:none;
    background-color: white;
    color:rgb(155, 208, 233) ;
  }
  .customSubmitButton{
    background-color: #F49F0A !important;
    border-radius: 10px;
    border:none;
    padding:10px;
    color:white;
    font-weight: 500;
    margin-top:20px
  }
  .fullFrame{
    background-image: url('../images/background_diag.png');
    background-repeat: repeat-x;
    background-position-y: top;
    background-size: cover;
    height: 100vh;
   
  }
  .infoDiabetic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:4%;
    margin-bottom: 5%;
  }
  .preventDiabetes{
    width:50%;
    margin-top:2%;
    font-size:14px;
    
  }

  @media screen and (max-width:786px) {
    #register{
      width: 60%;
    }
    .preventDiabetes{
      width:70%;
    }
  }
  
  @media screen and (max-width:786px) {
    #register{
      width: 90%;
    }
    .preventDiabetes{
      width:90%;
    }
  }