.buttonClass{
   
    width: 8% !important;
    background-color: #F49F0A !important;
    color:white;
   

}

.inputBox{
    background-color: #EAF2FF;
    border:none;
    padding: 10px;
    margin-left:10px;
    font-size:12px;
    width:22%;
    font-family: 'Poppins';
    border-radius: 5px;
    

}
.searchResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
   
}
.iconResult{
    width: 40px;
    height: 40px;
    background-color: #00A6A6;
    border-radius: 5px;
    margin-right:10px;
}
.iconify{
    color:white
}
.searchName{
    font-size:16px;
    font-family:'Poppins';
    color:#00A6A6;
    
}
.textSearch{
    font-size:12px;
    font-family: 'Poppins';
    

}
.sectionDivide{
    width:30%;
}
.heading{
    text-align: center;
    font-size:30px;
    font-family: 'Poppins';
    
}

@media screen and (max-width:768px){
    .searchBar{
        flex-direction: column !important;
        
    }
    .inputBox{
        width:80%;
        margin-bottom: 20px;
    }
    .buttonClass{
        width: 80% !important;
    }
    .searchCard{
        flex-direction: column !important;
        
    }
    .iconResult{
       margin-left :auto;
       margin-right: auto;
       margin-bottom:10px;
    }
    .sectionDivide{
        width:80%;
        margin-left :auto;
        margin-right: auto;

    }
    .textSearch{
        text-align: left !important;
    }
   
}